body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.main-title {
  font-size: 60px;
  color: #d17d24;
  text-align: center;
}

.first-section {
  width: 80%;
  margin: 100px auto;
}

.first-section h1 {
  text-align: center;
}

.subtitle {
  font-size: 40px;
  color: #4985de;
}

.second-section {
  margin: 40px;
}
